extends layout

block content
	h1 Message Admin 
	input(type="text", id="txtSubject", placeholder="subject")
	input(type="text", id="txtDescription", placeholder="description")
	button(id="btnAddMessage") Add Message
	button(id="btnGetMessages") Get Message